.vscode/**
.vscode-test/**
.github/**
src/**
node_modules/**

.gitignore
.gitattributes
.editorconfig
.eslintrc*
eslint.config.*
esbuild.mjs
tsconfig.json
tsconfig.*.json
CLAUDE.md

**/*.map
**/*.ts
!out/**/*.d.ts

**/.DS_Store
*.vsix
